<?xml	version="1.0"	encoding="UTF-8"?>	
    <widget	xmlns =	"http://www.w3.org/ns/widgets"	
            xmlns:gap = "http://phonegap.com/ns/1.0"	
            id =	"com.dtandoh.pg5"	
            versionCode	=	"12"		
            version	=	"1.0.0"	>	
				<!--	versionCode	is	opIonal	and	Android	only	-->	
				<name>Service Desk</name>	
				<description>
                    An app to help customers book services with service providers
				</description>	
				<author	href="http://www.ashesi.edu.gh"	email="tandohdavid@gmail.com">	
								D Tandoh	
				</author>	

        <gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" version="1.1.1" />
         <allow-navigation href="http://*/*" />
<allow-navigation href="https://*/*" />
<allow-navigation href="data:*" />
        <allow-intent href="*" />
        <access origin="*" />
        
        <access origin = "http://cs.ashesi.edu.gh" />
</widget>	